* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body {
	padding-top: 70px;
}

.clear:after {
	content:"";
	display: block;
	clear:both;
}

/****************************/
/*		NAVBAR FIX TOP 		*/
/****************************/
.navbar-header-downarrow{
	width: 1rem;
	border-right:7px solid transparent;
	border-left:7px solid transparent;
	color:#e03800;
}

.navbar-nav>li>.dropdown-menu {
	border-radius: 7px;
	border: 3px solid #e03800;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 54px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 54px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.darker-navbar {
	background-color: rgb(26, 26, 26);
}

#rocket-icon {
	color: #e03800;
}

#search-icon {
	color:white;
	font-size: 2rem;
}

/****************************/
/* 	 Header promo images 	*/
/****************************/
.header-promotion {
	margin-bottom: 2rem;
}

.left-promo-image-container {
	max-width:100%;
}

.right-promo-image-container {
	max-width:100%;
	max-height: 100%;
}

/****************************/
/* 	subheader promo images 	*/
/****************************/

.subheader-strip-image img {
	max-width:100%;
}

.strip-comment-icon {
	position:relative;
	left:225px;
	bottom:20px;
	text-align: right;
	font-size: 1.2rem;
}

.strip-video-icon {
	position: absolute;
	top:0;
	left:7%;
	font-size: 3.2rem;
	color: #e03800;
}

.media-body h4 {
	font-size: 1.6rem
}

/****************************/
/* 	Primary Content Left 	*/
/****************************/

.nav-tabs {
	margin-bottom: 20px;
	margin-top: 20px;
}

/****************************/
/* 			Hot Tab 	 	*/
/****************************/

.tab-hot-item {
	margin:0;
}

.primary-content-hot-tab-video-icon{
	color: #e03800;
	position:relative;
	left:4px;
	bottom:131px;
	text-align: left;
	font-size: 3.2rem;

}

.primary-content-hot-tab-comment-icon{
	position:relative;
	left:100px;
	bottom:42px;
	text-align: right;
	font-size: 1rem;
}

.primary-content-hot-tab-thumbsup-icon{
	position:relative;
	left:100px;
	bottom:42px;
	text-align: right;
	font-size: 1rem;
}

.tab-hot-description {
	margin-bottom: 3px;
	text-align: justify;
}
.time-tab-hot {
	color:#999;
}

/****************************/
/* 		Recent Tab 	 		*/
/****************************/
.primary-content-recent-tab-video-icon{
	color: #e03800;
	position:relative;
	left:4px;
	bottom:131px;
	text-align: left;
	font-size: 3.2rem;

}

.primary-content-recent-tab-comment-icon{
	position:relative;
	left:100px;
	bottom:42px;
	text-align: right;
	font-size: 1rem;
}

.primary-content-recent-tab-thumbsup-icon{
	position:relative;
	left:100px;
	bottom:42px;
	text-align: right;
	font-size: 1rem;
}

.tab-recent-description {
	margin-bottom: 3px;
	text-align: justify;
}
.time-tab-recent {
	color:#999;
}
/****************************/
/* 	Primary Content Right 	*/
/****************************/
.right-primary-content {
 	margin: 20px 0;
}



/****************************/
/* 		Side bar TOP 	 	*/
/****************************/

.title-top-sidebar {
	border-left: 5px solid #e03800;
}

/****************************/
/*	 	Side bar BOTTOM 	*/
/****************************/

.top-sidebar-ranking-number {
	text-align: center;
	padding-top: 13px;
	border: 1px solid black;
	height: 50px;
}

.top-sidebar-ranking-content {
	text-align: center;
	max-width:100%;
	height:50px;
	background-color: grey;
	border:1px solid black;
}
/****************************/
/* 			Footer	 		*/
/****************************/

.home-footer {
	background-color: rgb(43,45,49);
	color: white;
}

.newsletter-footer {
	margin-top: 10px;
}

.subscribe-form {
	width:50%;
}

.subscribe-email-width {
}

.comment-form {
	width: 90%;
}

.comment-textarea {
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100px;
}
