* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
		
}

h2 {
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 3px;
	font-size: 5rem;
	/*margin: 0;*/
}

.row {
	margin-right: 0;
	margin-left: 0;
}
/**********************************/
/*			  Parallax 		  	  */			
/**********************************/
.parallax1{
	/* The image used */
    background-image: url("../img/wrapper-wallpaper2.png");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
	/* The image used */
    background-image: url("../img/parallax4.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/**********************************/
/*			  Fonts		 		  */			
/**********************************/

/*font-family: 'Fira Sans', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/


/**********************************/
/*			  1stWrapper 		  */			
/**********************************/
.main-wrapper { 
    /* Full height */
    height: 100vh; 
    width: 100%;
    background-color: black;
}



h1 {

	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	color:white;
	margin-top: 200px;
	letter-spacing: 3px;
	font-weight: bolder;
	font-size: 5rem;
	background-color: rgb(34,34,34);
	padding: 10px;
	border:1px solid #999;
	border-radius: 10px;
	margin-right: 28%;
	margin-left: 28%;
}

/**********************************/
/*			  NAVBAR 			  */ 			
/**********************************/
.navbar-inverse {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;	
}

.navbar-brand {
	text-align: center;
}

/*for displaying icons at the top of text*/
#navbar-icons {
	font-size: 2.3rem;
	display: block;
	margin:0 auto;
	padding-bottom: 3px;
}

/*navbar animation*/
.navbar-nav>li:hover {
    transition: transform .4s;
    transform: scale(1.1);
    background-color: #c0c0c0;
    font-weight: bolder;
    border-radius: 10px;
    border: 1px solid #999;
} 

/**********************************/
/*			  2ndWrapper 		  */			
/**********************************/
.second-wrapper {
	background-color: #ff9d00;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: auto;
	color: white;
	padding-top: 70px;

}
.second-wrapper-left {
	margin: 0 auto;
	padding-bottom: 30px;
}

.trailer-video {
	border: 7px inset #999;
	width: 620px;
	max-width: 100%;
	height: 400px;
	max-height: 100%;
	border-radius: 10px;
	margin: 30px auto 0;
}

.second-wrapper-right {
	margin: 0 auto 20px;
	text-align: center;
}

.second-wrapper-right p {
	font-size: 2rem;
	letter-spacing: 3px;
	padding-top: 30px;
}

.googleplay-img {
	width:200px;
	height:75px;
	border: 1px solid #999;
	border-radius: 20px;
	margin-top: 20px;

}
/**********************************/
/*			  3rdWrapper 		  */			
/**********************************/
.third-wrapper {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500%2C75c0%2C0%2C125-30%2C250-30S0%2C75%2C0%2C75s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C45c0%2C0%2C125-30%2C250-30S0%2C45%2C0%2C45s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C105c0%2C0%2C125-30%2C250-30S0%2C105%2C0%2C105s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C15c0%2C0%2C125-30%2C250-30S0%2C15%2C0%2C15s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500-15c0%2C0%2C125-30%2C250-30S0-15%2C0-15s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C135c0%2C0%2C125-30%2C250-30S0%2C135%2C0%2C135s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3C/g%3E%3C/svg%3E");
	height: auto;
	color: white;
	text-align: center;
}

.carousel-container {
	max-height: 100%;
	padding: 1% 0 4%;

}
.carousel-item-container {
	max-width: auto;
	width:100%;
	max-height: 100%;
	padding-bottom: 20px;
}

h4 {
	font-size:2.5rem;
	color:gold;	
}

h4+p {
	font-size: 2rem;
	color:gold;
}

.carousel-caption {
	font-size: 15px;
}

#carousel-img {
	max-width:100%;
	max-height: 100%;
}



/**********************************/
/*			  4thWrapper 		  */			
/**********************************/
.fourth-wrapper {
    color:white;
    text-align: center;
    margin:0 auto;
    height: auto;
    width:100%;
}

.heroes-container {
    padding-bottom: 20px;
    position:relative;

}

.heroes-small-container{
    width:50%;
}

h3 {
    padding: 20px 0;
    font-size: 5rem;
    margin:0;
    letter-spacing: 5px;
    font-family: 'Fira Sans', sans-serif;
}

.hero-small{
    display: inline-block;
    width:30%;
    margin: 5px;
}

.hero-small a {
    text-decoration: none;
}

.hero-small img {
    border:3px inset #999;
    border-radius: 3%;
}

.hero-name {
    position:relative;
    top:-23px;
    left:-15px;
    text-decoration: none;
    color: gold;
    font-size: 1.6rem;
    letter-spacing: 3px;
}

.hero-avatar {
    width: 50%;
    position:absolute;
    right:0;
    top:0;
    height: auto;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
}

.hero-avatar-preview-img {
    margin:10% auto 0;
    height:100%;
    border: 10px inset #999;
    border-radius: 5%;
}

.hero-name-avatar {
    letter-spacing: 5px;
    font-size: 3rem;
}

.hero-icon-animation {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.hero-icon-animation:hover {
    opacity: 1.0;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.hero-small:hover .hero-avatar {
    opacity: 1.0;
    visibility: visible;
}

/**********************************/
/*			  5thWrapper 		  */			
/**********************************/
.fifth-wrapper {
	background-color: #00b7ff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/svg%3E");
	height: auto;
	color: white;
}

.fifth-wrapper-left {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

.fifth-wrapper-left p {
	font-size: 2.5rem;
	letter-spacing: 3px;
	padding-top: 25px;
}

.fifth-wrapper-right {
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
}


.fifth-wrapper-right > img {
	border: 7px inset #999;
	margin: 30px auto;
	border-radius: 10px;
}

/**********************************/
/*			  6thWrapper 		  */			
/**********************************/
.sixth-wrapper {
	height:550px;
	color:white;
	text-align: center;
}

.sixth-wrapper-right {
}

.sixth-wrapper-right > p {
	font-size: 3rem;
	letter-spacing: 3px;
	padding-top: 20px;
	color: white;
	/*background-color: grey;*/
/*	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;*/
	/*color: black;*/

}


.sixth-wrapper-left {
	margin: 0 auto;
	text-align: center;
}

.sixth-wrapper-left > img {
	border: 7px inset #999;
	margin: 30px auto;
	border-radius: 10px;
}

/**********************************/
/*            footer              */            
/**********************************/
.home-footer {
    background-color: rgb(43,45,49);
    color: white;
}

.seventh-wrapper {
    height: auto;
    color: white;
}

.copyright{
    padding-top: 6px;
}

.social-media > ul > li {
    list-style: none;
    float:left;
    margin-right: 10px;
    font-size: 2.5rem;
    padding-top: 3px;
}

.social-media > ul > li > a {
    color:white;
    text-decoration: none;
    transition: transform .4s ;
}

.social-media > ul > li:hover {
    transform: scale(1.5);
}


/**********************************/
/*			 Media Queries 		  */	
/**********************************/

@media only screen and (max-device-width: 360px) {
     /*Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
    .main-wrapper {
        background-attachment: scroll;
    }

    h1 {
		font-size: 2rem;
    }

    h2 {
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 3px;
	}
	/*aligning the li during toggle button on small screens*/
	.navbar-inverse  .navbar-collapse {
		text-align:center;
	}
	/*2nd-wrapper*/
	.second-wrapper {
		height:auto;
		padding-top: 20px;
	}

	.trailer-video {
		width: 100%;
		height:200px;
	}
	
	/*third-wrapper*/
	#carousel-header {
		font-size: 1.5rem;
	}
	.carousel-indicators {
		bottom:-8px;
	}
	.carousel-caption{
		padding:20px 10px;
		transform: translateY();
		bottom: 0;
	}
	.carousel-caption h3, .carousel-caption p {
		padding:0;
		margin:0;
		font-size: 10px;
	}
	h4 {
		font-size: 1.5rem;
	}
	/*fourth wrapper*/
	.hero-avatar {
		display:none;
	}
	
	.hero-small {
		width:25%;
	}

	.hero-name {
		font-size: 1rem;
		left:0;
	}
	.heroes-small-container {
		width:100%;
	}
	h3{
		font-size: 2.3rem;
	}
	/*sixthwrapper*/
	.sixth-wrapper {
	height:auto;
	color:white;
	text-align: center;
	color:white;
	}
	/*footer*/
	.social-media > ul > li {
        margin-top: 15px;
        margin-right: 7px;
        font-size:1.7rem;
    }

}

 @media only screen and (min-width: 361px) and (max-width: 767px) {
	h1 {
		font-size: 2.7rem;
    }

	h2 {
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 3px;
	font-size: 3rem;
	}

	/*aligning the li during toggle button on small screens*/
	.navbar-inverse  .navbar-collapse {
		text-align:center;
	}
	.navbr-brand {
		display: none;
	}
	#carousel-header {
		font-size: 1.5rem;
	}

	/*2nd-wrapper*/
	.second-wrapper {
		height:auto;
		padding-top: 20px;
	}
	
	.trailer-video {
		width: 100%;
		height:200px;
		margin: 20px auto;
	}
	
	.second-wrapper-right {
		margin: 20px auto;
		text-align: center;
	}

	/*third-wrapper*/
	.carousel-indicators {
		bottom:-8px;
	}
	.carousel-caption{
		padding:20px 10px;
		transform: translateY();
		bottom: 0;
	}

	.carousel-caption h3, .carousel-caption p {
		padding:0;
		margin:0;
		font-size: 10px;
	}
	h4 {
		font-size: 1.5rem;
	}
	/*fourth wrapper*/
	.hero-avatar {
		display:none;
	}
	
	.hero-small {
		width:25%;
	}

	.hero-name {
		font-size: 1rem;
		left:0;
	}
	.heroes-small-container {
		width:100%;
	}
	h3{
		font-size: 2.3rem;
	}
	/*sixthwrapper*/
	.sixth-wrapper {
	height:auto;
	color:white;
	text-align: center;
	color:white;
	}
	/*footer*/
	.social-media > ul > li {
        margin-top: 15px;
        margin-right: 7px;
    }


}


@media only screen and (min-width: 768px) and (max-width: 1024px){
	/*for justifying the navbar contents*/
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
        height:70px;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
        vertical-align: middle;
    }
    /*for hidding the brand on the left part*/
	#img-brand {
		display:none;
	}
	/*for displaying icons at the top of text*/
	#navbar-icons {
	font-size: 2.3rem;
	display: block;
	margin:0 auto;
	padding-bottom: 3px;
	}
	/*second-wrapper*/
	.second-wrapper {
		height:auto;
	}
	.trailer-video {
		width: 100%;
		height:200px;
		margin: 20px auto;
	}
	
	.second-wrapper-right {
		margin: 20px auto;
		text-align: center;
	}
	/*fourth wrapper*/
	.hero-avatar {
		display:none;
	}
	
	.hero-small {
		width:25%;
	}

	.hero-name {
		font-size: 1.5rem;
		left:-20px;
		top:-25px;
	}
	.heroes-small-container {
		width:100%;
	}
	h3{
		font-size: 3.5rem;

	}
	/*sixthwrapper*/
	.sixth-wrapper {
	height:auto;
	color:white;
	text-align: center;
	color:white;
	}
} 

@media only screen and (min-width: 1025px){
	/*for justifying the navbar contents*/
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
        height:70px;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
        vertical-align: middle;
    }

    #img-brand {
    	display: none;
    }

    /*footer*/
	/*.social-media > ul > li {
        margin-top: 15px;
        margin-right: 7px;
    }
*/
} 