* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
        
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 5rem;
    /*margin: 0;*/
}

.row {
    margin-right: 0;
    margin-left: 0;
}
/**********************************/
/*            Parallax            */            
/**********************************/
.parallax1{
    /* The image used */
    background-image: url("../img/wrapper-wallpaper2.png");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    /* The image used */
    background-image: url("../img/parallax3.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3{
    /* The image used */
    background-image: url("../img/parallax4.jpg");
    /* Full height */
    min-height: 20%;
    height: auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4{
    /* The image used */
    background-image: url("../img/parallax4.jpg");
    /* Full height */
    height: auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
/**********************************/
/*            Fonts               */            
/**********************************/

/*font-family: 'Fira Sans', sans-serif;*/


/**********************************/
/*            1stWrapper          */            
/**********************************/
.main-wrapper { 
    /* Full height */
    height: auto; 
    width: 100%;
    background-color: black;
}

/**********************************/
/*            NAVBAR              */            
/**********************************/
.navbar-inverse {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;   
}

.navbar-brand {
    text-align: center;
}

/*for displaying icons at the top of text*/
#navbar-icons {
    font-size: 2.3rem;
    display: block;
    margin:0 auto;
    padding-bottom: 3px;
}

/*navbar animation*/
.navbar-nav>li:hover {
    transition: transform .4s;
    transform: scale(1.15);
    font-weight: bolder;
    background-color: #c0c0c0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid black;
} 
/*active navbar bg color*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #c0c0c0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


/**********************************/
/*            4thWrapper          */            
/**********************************/
.fourth-wrapper {
    color:white;
    text-align: center;
    margin:0 auto;
    height: auto;
    width:100%;
}

.heroes-container {
    padding-bottom: 20px;
    position:relative;

}

.heroes-small-container{
    width:50%;
}

h3 {
    padding: 20px 0;
    font-size: 5rem;
    margin:0;
    letter-spacing: 5px;
    font-family: 'Fira Sans', sans-serif;
    text-shadow: -1px 0px black,
                 0px 1px black,
                 1px 0px black,
                 0px -1px black;
}

.hero-small{
    display: inline-block;
    width:30%;
    margin: 5px;
}

.hero-small a {
    text-decoration: none;
}

.hero-small img {
    border:2px inset #999;
    border-radius: 3%;
}

.hero-small img:hover {
    border:1px inset #3163ce;
    border-radius: 3%;
    transition: transform .4s;
    transform: scale(1.2);
    box-shadow: -1px 0px 10px #3163ce,
             0px 1px 20px #3163ce,
             1px 0px 30px #3163ce,
             0px -1px 40px #3163ce,
             0px 0px 50px #3163ce;
}

.hero-name {
    position:relative;
    top:-20px;
    left:-20px;
    text-decoration: none;
    font-size: 1.6rem;
    letter-spacing: 3px;
    color: white;
    text-shadow: -1px 0px black,
                 0px 1px black,
                 1px 0px black,
                 0px -1px black;
}

.hero-avatar {
    width: 50%;
    position:absolute;
    right:0;
    top:0;
    height: auto;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
}

/*Glowing Effect*/
.hero-avatar-desc > h3, .hero-avatar-desc > h5{
    text-shadow: -1px 0px 10px #999,
                 0px 1px 20px #999,
                 1px 0px 30px #999,
                 0px -1px 40px #999,
                 0px 0px 50px #999,
                 0px 0px 60px #999,
                 0px 0px 70px #999;
}

.hero-avatar-preview-img {
    margin:10% auto 0;
    height:100%;
    border: 10px inset #999;
    border-radius: 5%;
    box-shadow:  0px 0px 10px #c0c0c0,
                 0px 0px 20px #c0c0c0,
                 0px 0px 30px #c0c0c0,
                 0px 0px 40px #c0c0c0,
                 0px 0px 50px #c0c0c0,
                 0px 0px 60px #c0c0c0,
                 0px 0px 70px #c0c0c0;
}

.hero-name-avatar {
    letter-spacing: 5px;
    font-size: 3rem;
}

.hero-icon-animation {
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.hero-icon-animation:hover {
    opacity: 1.0;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.hero-small:hover .hero-avatar {
    opacity: 1.0;
    visibility: visible;
}
/**********************************/
/*            ABOUT               */            
/**********************************/
h4 {
    font-family: 'leto', sans-serif;
    font-size: 2.5rem;
}

/*About self*/

.about-container {
    margin-top: 3%;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:white;
    min-height: auto;
    padding-bottom: 20px;
    padding-top: 10px;
}

.about-img-container {
    width:100%;
    height:auto;
    margin: 0 auto;  
}

.about-media-img {
    width:200px;
    height:200px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 20%;
    border: 5px inset #999;
    margin-left: auto;
    margin-right: auto;
}

.about-right-container {
    letter-spacing: 2px;
}

/*target market*/

.target-market {
    color: white;
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*target market need*/

.about-target-market-need {
    background-color: #ff0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23E0F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0019'/%3E%3Cstop offset='1' stop-color='%23ce00f3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0031'/%3E%3Cstop offset='1' stop-color='%23b000e6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff004a'/%3E%3Cstop offset='1' stop-color='%239400da'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0063'/%3E%3Cstop offset='1' stop-color='%237a00ce'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff007c'/%3E%3Cstop offset='1' stop-color='%236200c1'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0094'/%3E%3Cstop offset='1' stop-color='%234d00b5'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00ad'/%3E%3Cstop offset='1' stop-color='%233900a8'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00c6'/%3E%3Cstop offset='1' stop-color='%2328009c'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00df'/%3E%3Cstop offset='1' stop-color='%23180090'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00f7'/%3E%3Cstop offset='1' stop-color='%230b0083'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23E0F'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
}
/**********************************/
/*            footer              */            
/**********************************/
.home-footer {
    background-color: rgb(43,45,49);
    color: white;
    overflow: hidden;

}

.seventh-wrapper {
    height: auto;
    color: white;

}

.copyright{
    padding-top: 6px;
}

.social-media > ul > li {
    list-style: none;
    float:left;
    margin-right: 10px;
    font-size: 2.5rem;
    padding-top: 3px;
}

.social-media > ul > li > a {
    color:white;
    text-decoration: none;
    transition: transform .4s ;
}

.social-media > ul > li:hover {
    transform: scale(1.5);
}

/**********************************/
/*           Media Queries        */    
/**********************************/

@media only screen and (max-device-width: 360px) {
     /*Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
    .main-wrapper {
        background-attachment: scroll;
        min-height: 100%;
        height: auto;
    }

    h2 {
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 3px;
    }
    /*aligning the li during toggle button on small screens*/
    .navbar-inverse  .navbar-collapse {
        text-align:center;
    }
    /*2nd-wrapper*/
    .second-wrapper {
        height:auto;
        padding-top: 20px;
    }

    .trailer-video {
        width: 100%;
        height:200px;
    }
    
    /*fourth wrapper*/
    .hero-avatar {
        display:none;
    }
    
    .hero-small {
        width:25%;
    }

    .hero-name {
        font-size: 1rem;
        left:0;
    }
    .heroes-small-container {
        width:100%;
    }
    h3{
        font-size: 2.3rem;
    }
    /*footer*/
    .social-media > ul > li {
        margin-top: 15px;
        margin-right: 7px;
        font-size:1.7rem;
    }
}

@media only screen and (min-width: 361px) and (max-width: 767px) {
    .main-wrapper {
        background-attachment: scroll;
        min-height: 100%;
        height: auto;
    }

    h2 {
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 3rem;
    }

    /*aligning the li during toggle button on small screens*/
    .navbar-inverse  .navbar-collapse {
        text-align:center;
    }
    .navbr-brand {
        display: none;
    }
    #carousel-header {
        font-size: 1.5rem;
    }
    /*fourth wrapper*/
    .hero-avatar {
        display:none;
    }
    
    .hero-small {
        width:25%;
    }

    .hero-name {
        font-size: 1rem;
        left:0;
    }
    .heroes-small-container {
        width:100%;
    }
    h3{
        font-size: 2.3rem;
    }
    /*footer*/
    .social-media > ul > li {
        margin-top: 15px;
        margin-right: 7px;
        font-size:2rem;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .main-wrapper {
        min-height: 100%;
        height: auto;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    /*for justifying the navbar contents*/
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
        height:70px;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
        vertical-align: middle;
    }
    /*for hidding the brand on the left part*/
    #img-brand {
        display:none;
    }
    /*for displaying icons at the top of text*/
    #navbar-icons {
    font-size: 2.3rem;
    display: block;
    margin:0 auto;
    padding-bottom: 3px;
    }

    /*fourth wrapper*/
    .hero-avatar {
        display:none;
    }
    
    .hero-small {
        width:25%;
    }

    .hero-name {
        font-size: 1.5rem;
        left:-20px;
        top:-25px;
    }
    .heroes-small-container {
        width:100%;
    }
    h3{
        font-size: 3.5rem;

    }
} 
/*Ipad Pro Only*/
@media only screen and (width: 1024px){
    .main-wrapper {
        min-height: 100%;
        height: auto;
    }

    .hero-avatar {
        display:none;
    }
}
@media only screen and (min-width: 1025px){
    .main-wrapper {
        min-height: 100%;
        height: auto;
    }
    /*for justifying the navbar contents*/
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
        height:70px;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
        vertical-align: middle;
    }

    #img-brand {
        display: none;
    }
} 